<td><%= booking.name %></td>
<td><%= booking.email %></td>
<td><%= booking.mobile_phone %></td>
<td><%= booking.arrival %></td>
<td><%= booking.departure %></td>
<td><%= booking.room_id %></td>
<td><%= render 'bookings/admin/form', booking: booking  %></td>
<td><%= link_to t('destroy'), booking_url(booking.id), method: :delete, data: { confirm: t('confirm') } %></td>