<p>
  <strong>Name:</strong>
  <%= @booking.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @booking.email %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @booking.mobile_phone %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @booking.arrival %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @booking.departure %>
</p>

<p>
  <strong>Room:</strong>
  <%= @booking.room_id %>
</p>

<%= link_to 'Back', rooms_path %>
